body {
    margin:0;
}

p {
    margin:1%;
    font-size: 1.5vw;
}

header {
    padding-left:3%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:1%;
    background-image:linear-gradient(to right, #00e0ff, #ff00d0);
    color:#000000;
    margin:0;
    display:flex;
    align-items: center;
}

header img {
    width:20%;
    border-radius:50% 50% 50% 50%;
}

nav {
    display:flex;
    background-color:#555555;
    color:#ffffff;
    font-size:1.7vw;
    margin:0;
}

nav a {
    padding:1%;
    flex:0.2;
    text-align:center;
    color:#ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color:#00ff00;
    color:#000000;
}

.dropdown {
    background-color: #00e0ff;
    text-align: center;
    width:100%;
    font-size:1.5vw;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    width:100vw;
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.canvas {
    text-align: center;
}