body {
    margin:0;
}

p {
    margin:1%;
    font-size: 1.5vw;
}

header {
    padding-left:3%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:1%;
    background-image:linear-gradient(to right, #00e0ff, #ff00d0);
    color:#000000;
    margin:0;
    display:flex;
    align-items: center;
}

header img {
    width:20%;
    border-radius:50% 50% 50% 50%;
}

nav {
    display:flex;
    background-color:#555555;
    color:#ffffff;
    font-size:1.7vw;
    margin:0;
}

nav a {
    padding:1%;
    flex:0.2;
    text-align:center;
    color:#ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color:#00ff00;
    color:#000000;
}

div {
    width: 100%;
    text-align: center;
}

.canvas {
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #555555;
    color: white;
    padding: 1%;/*50% 20% 50% 20%; */
    font-size:1.7vw;
    border: none;
    flex:0.2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555555;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow:auto;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    flex:0.2;
    text-align:center;
    color:#ffffff;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #00ff00;
    color:#000000;
}

/* Cards */
.icons {
    display:grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 0.8%;
    margin-left: 0.8%;
    margin-top: 0.8%;
}

.icon {
    width: 100%;
}

.icon img {
    width: 100%;
    object-fit: cover;
}

.icon:hover {
    width:90%;
    border: 1vw solid rgb(100, 255, 100);
    box-shadow: 0 0 15px rgb(0, 0, 0);
}